extends index-layout
block viz-script
  script 
    | google.load("visualization", "1")
    | google.setOnLoadCallback(draw)
    | function draw() {
    |   var data = new google.visualization.DataTable()
    |   data.addColumn('string', 'Label')
    |   data.addColumn('number', 'Value')
    |   data.addColumn('string', 'Link')
    |   data.addRows(#{topics.length})
    |   var topics = !{JSON.stringify(topics)}
    |   for (var i=0; i<topics.length; i++) { 
    |     data.setValue(i,0, topics[i].topic)
    |     data.setValue(i,1, topics[i].count)
    |   }
    |   var outDiv = document.getElementsByClassName('tcdiv')[0]
    |   var tc = new TermCloud(outDiv)
    |   tc.draw(data, null)
    | }
