doctype
html
  head
    title #{title} - My site
    link(rel='stylesheet', href='/stylesheets/style.css')
    block imports
  body
    header
      h1 V0.0.1 of your digital halo visualization.
    .container
      .main-content
        block content
      .sidebar
        block sidebar
      .tcdiv
    block viz-script
    footer
      p Running on Node with jade, stylus and nib. 
      p Powered by g-sketch api, mongo db and python analitics. 

