body {
	background-color : #D6C299; 
}

header {
	background-color : #C28566;
	padding					 : 0.3em 0.3em 0.3em 0.3em;
}

nav {
	display          : inline-block;
	padding					 : 0.5em 0.5em 0.5em 0.5em; 
}

.move {
	-webkit-transform : rotate(0.5turn);
	-webkit-transition: -webkit-transform 4000ms;

	transform : rotate(1turn);
	transition: transform 4000ms;
}
