extends ../layouts/layout
block header
  | Come in and see for yourself.

block content
  form.form-horizontal(action="/signUp", method="post")
    .form-group
      label.control-label.col-sm-5 Email
      .col-sm-10
        input(type="email", name="email")
    .form-group
      label.control_label.col-sm-2 Password
      .col-sm-10
        input(type="password", name="password")
    .form-group
      .col-sm-offset-2
        button(type="submit") Sign in to see.
      
