extend ../layouts/layout
block imports
  link(rel='stylesheet', href='http://visapi-gadgets.googlecode.com/svn/trunk/termcloud/tc.css')
  script(src='http://visapi-gadgets.googlecode.com/svn/trunk/termcloud/tc.js')
  script(src='http://www.google.com/jsapi')
block header
    | V0.0.1 of your digital halo visualization.
block content
  p
    | Whenever you do anything on the internet you leave a trace, a fallout
    | It can be and is picked up and kept together. Out of that fallout a true outline
    | of your personality emerges. We call that picture the Digital Halo.
    | Below you can see the early draft of your Digital Halo visualization
block sidebar
  .widget
    h1 Menue
    p 
      | Digtal halo viz controll bar
    p
      | It will allow for changing views
    p
      | And time span
    p
      | Might contain a small viz as well
      

