
body {
  font-family: Helvetica, sans-serif;
  font-size: 12px;

  background-color: lightyellow!important;}

header {
  background-color: lightcoral;
}

h3 {
  font-size: 20px;
  color: #8f3d3d; }
  h3 .tracker-name {
    font-weight: bold; }

.demographic-bars {
  display: inline-block; }

.axis path, .axis line {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
  visibility: visible; }

.axis text {
  font-family: Helvetica, sans-serif;
  font-size: 11px; }

.ordinal-axis path, .ordinal-axis line {
  visibility: visible; }

.y-axis text {
  font-weight: bold;
}

.x-axis text {
  font-size: 1.1em;
}

circle {
  fill: #1f77b4;
  fill: none;
  fill-opacity: .25;
  stroke: #1f77b4;
  stroke-width: 1px;
  stroke: none; }

.node.root circle {
  fill: none; }

.node circle {
  fill: #b8732e;
  fill-opacity: 1; }

.node circle:hover {
  stroke: #000;
  stroke-width: 1.5px;
  cursor: pointer; }

.leaf circle {
  fill: #8f5b24;
  fill-opacity: 1; }

.node text {
  fill: #ffff99; }

text {
  font: 10px sans-serif; }

div.flash {
  position: absolute;
  display: block;
  height: 2rem;
  width: 95%;
  margin: 0 auto;
  border-radius: 10px;
  border-width: 3px;
  border-style: solid;
  text-align: center;
  padding: 0rem 0 0rem 0;
  font-size: 1rem;
  opacity: 0.8;
  z-index: inherit; }

div.flash.success {
  background-color: #b3c99c;
  border-color: #244224;
  color: #244224; }

div.flash.failure {
  background-color: #422424;
  border-color: #b87a7a;
  color: #b87a7a; }

div#flash_container {
  position: fixed;
  height: 3em;
  width: 70vw;
  top: 4em;
  left: 15vw;
  z-index: 1000; }

tr:hover {
  background: #f5f5f5; }

.dtu-red {
  background-color: #b50404; }

.dtu-red-text {
  color: #b50404; }
